.clicker-container {
  display: block;
}

.cat-container {
  display: flex;
  width: 100%;
}

.counter {
  width: 50%;
  margin: auto;
}

.cat-image {
  margin: auto;
}

.individual-cat {
  display: flex;
  flex-wrap: wrap;

}
