main {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cat-container {
  display: block;
  width: 60%;
}

.admin-button {
  float: inline-right;
  margin-left: 3em;
}


.cat-image {
  margin: auto;
}
.admin-area.hidden {
  display: none;
}
