main {
  display: flex;
}

.cat-container {
  display: block;
  width: 80%;
}

.catPicker {
  width: 20%;
}

.counter {
  width: 50%;
  margin: auto;
}

.cat-image {
  margin: auto;
}

.individual-cat {
  display: flex;
  flex-wrap: wrap;

}
